/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/[lang]/sesiones/layout.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.layout_title__JFEm6 {
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
}

.layout_subTitle__gksLc {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

