@import url(https://db.onlinewebfonts.com/c/0879858928d22e10ed53e32049b2bede?family=FreightBig+W03+Light+Italic);

.fontFreightBig {
  font-family: "FreightBig W03 Light Italic";
}

.pb {
  padding-top: 8rem;
}
