/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/[lang]/components/Features.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Features_heightLg__VZAyM {
  height: 38rem;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/[lang]/components/Hero.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
@media (min-width: 1024px) {
  .Hero_heightLg__aPk1L {
    height: 48rem;
  }
}
.Hero_heightLg__aPk1L {
  height: 48rem;
}

.Hero_fontFamily__eZN0e {
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/[lang]/components/JorneyFeatures.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.JorneyFeatures_fontFamily__hPm7d {
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/[lang]/components/Testimonials.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.Testimonials_fontFamily__3tn84 {
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/[lang]/components/Heading.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.Heading_fontSize__mxkyh {
  font-size: x-large;
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
  letter-spacing: 0.1rem;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/[lang]/components/HeroTextRight.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.HeroTextRight_fontFamily__t8Y6U {
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
}

@media (min-width: 1280px) {
  .HeroTextRight_xlMaxwLg__aaM0o {
    max-width: 38rem;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/[lang]/components/Recommendations.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.Recommendations_borderBottom__qugYA {
  border-bottom: solid;
}

.Recommendations_heightLg__4yfO4 {
  height: 38rem;
}

