.fontSizeHeading {
  font-size: x-large;
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
  letter-spacing: 0.1rem;
}
.fontSizeDescription {
  font-size: smaller;
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
  letter-spacing: 0.1rem;
}
